body {
  text-align: center;
  font-family: verdana, sans-serif;
  margin: 0;
  background: #fbecec;
}

h1 {
  margin-top: 0;
  color: #519872;
  font-family: 'Dancing Script', cursive;
  font-size: 6.25rem;
}

h2 {
  color: #519872;
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}

h3 {
  font-family: 'Baloo Tamma 2', cursive;
  color: #519872;

}

hr {
  border-style: dotted none none;
  width: 40%;
  border-spacing: 4px;
  border-width: 6px;
  border-color: gray;
  }

a {
  display: inline-block;
  text-decoration: none;
  padding: 120;
  margin: 42;
}

/*** padding is standing or to pad the content ***/

.programmer {
  font-size: 2.5rem;
  font-weight: normal;
}

.ap {
  display: inline-block  ;
  width: 70px;
  height: 35px;
  margin: 25;
  padding: 0;
  border: 0;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 0;
}

.p1 {
  width: 25%;
  float: left;
  margin-right: 30px;
  }

  .p2 {
    width: 25%;
    float: right;
    margin-left: 30px;
    }

  .p3 {
      width: 25%;
      float: left;
      margin-right: 30px;
      }

.top-container {
  background-color: #a2de96;
  position: relative;
  padding-top: 80px;
  margin-bottom: 0px;
  line-height: 2;
}

.social-media {
  background-color: #a2de96;
  position: relative;
  margin-bottom: 0px;
  margin-bottom: 0;
  margin-top: 0;
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.mid-a{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
  font-family: 'Nanum Gothic', sans-serif;
}

.mid-b{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
  font-family: 'Nanum Gothic', sans-serif;
}

.mid-c{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: center;
  line-height: 2;
  font-family: 'Nanum Gothic', sans-serif;
}

/*
.god{
  background-color: #fbe2e5;
}
*/

.bottom-cloud {
  position: absolute;
  left: 25%;

}

.top-cloud {
  position: absolute;
  right: 25%;
}

.just-mountain {
  position: absolute;





  .button {
   background: #A2DE96;
   background-image: -webkit-linear-gradient(top, #A2DE96, #A2DE96);
   background-image: -moz-linear-gradient(top, #A2DE96, #A2DE96);
   background-image: -ms-linear-gradient(top, #A2DE96, #A2DE96);
   background-image: -o-linear-gradient(top, #A2DE96, #A2DE96);
   background-image: linear-gradient(to bottom, #A2DE96, #A2DE96);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 21px;
   line-height: 21px;
   color: #FFFFFF;
   font-family: Open Sans;
   width: 177px;
   font-size: 21px;
   font-weight: 400;
   padding: 11px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.button:hover {
   border: solid #ED3333 1px;
   background: #811616;
   background-image: -webkit-linear-gradient(top, #811616, #F63D3D);
   background-image: -moz-linear-gradient(top, #811616, #F63D3D);
   background-image: -ms-linear-gradient(top, #811616, #F63D3D);
   background-image: -o-linear-gradient(top, #811616, #F63D3D);
   background-image: linear-gradient(to bottom, #811616, #F63D3D);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
}
